main, body {
    /* background-color: black; */
}

#root {
    /* background-color: white;
    width: 100vh;
    height: 100vh;

    max-width: 375px !important;
    max-height: 667px !important;

    margin: 0px auto; */
}

.active-nav {
    color: red;
}

nav {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: black;
}

nav .inner {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-between;   /* horizontal alignment */
    align-items: center;              /* vertical alignment */
    margin: 0px auto;
}

nav a {
    color: gray;
}

.photo-submit-modal {
    width:100vw;
    height:100vh;
    padding:0;
    background-color: white;
}

.photo-submit-map {
    
}

.photo-form * {
    margin: 0px auto;
}